<footer class="site-footer bg-light mt-5 py-4 border-top">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">

    <h5 class="footer-heading mb-3">{{ site.name[page.language] | escape }}</h5>

    <div class="row">
      <div class="col-md-4 mb-3">
        <ul class="list-unstyled contact-list">
          <li class="mb-2">
            {%- if site.author -%}
              <strong>{{ site.author | escape }}</strong>
            {%- else -%}
              <strong>{{ site.name[page.language] | escape }}</strong>
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="text-decoration-none" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        {%- include social.html -%}
      </div>

      <div class="col-md-4">
        <p class="text-muted">{{- site.description[page.language] | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
